
.navbar-header {height: 50px;}

h1 {
	padding-left: 10px;
}
h2{
	color:navy;
	padding-left:10px;
}

h3 {
	color:navy;
}


* {font-family: Georgia, "Times New Roman", Times, serif;}




#carousel-example-generic .item img{
	height:auto;
}

.carousel-caption p {
	display: none;
}

@media only screen and (min-width: 760px) {
	height: 384px;
}
@media only screen and (min-width: 992px) {
	height: 496px;
	display: block;
}

@media only screen and (min-width: 1200px) {
	height: 600 px;
	display: block;
}